.header__lang-link {
    line-height: 28px;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 321px) {
    .header__lang-link {
        max-width: 22px;
        line-height: 20px;
        font-size: 18px;
        transition: all 1s ease;
    }
}