.place__title {
    display: flex;
    font-weight: 900;
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .place__title {
        max-width: 440px;
        margin: 0;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 1025px) {
    .place__title {
        transition: all 1s ease;
    }
}