.place__title {
    display: flex;
    font-weight: 900;
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .place__title {
        max-width: 440px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 1025px) {
    .place__title {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 769px) {
    .place__title {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 731px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 16px * 2);
        margin: 0 0 0 16px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 731px) {
    .place__title {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 16px * 2);
        margin: auto;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 321px) {
    .place__title {
        transition: all 1s ease;
    }
}