.photo-grid {
    width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    margin: 0 auto;
}

@media screen and (max-width: 1025px) {
    .photo-grid {
        max-width: calc(100% - 48px * 2);
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        gap: 14px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 1025px) {
    .photo-grid {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .photo-grid {
        max-width: calc(100% - 24px * 2);
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        gap: 16px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 769px) {
    .photo-grid {
        transition: all 1s ease;
    }
}