/*.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    list-style-type: none;
    max-width: calc(100% - 148px * 2);
    margin: 92px auto 92px;
}*/

/*Пробую в кросбраузерность*/

.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    list-style-type: none;
    max-width: calc(100% - 148px * 2);
    margin: 92px auto 92px;
}

@media screen and (min-width: 1025px) {
    .places {
        max-width: 984px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 1025px) {
    .places {
        max-width: calc(100% - 48px * 2);
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .places {
        max-width: calc(100% - 24px * 2);
        transition: all 1s ease;
    }
}

@media screen and (max-width: 731px) {
    .places {
        min-width: 100%;
        margin: 64px auto 66px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .places {
        min-width: 100%;
        margin: 64px auto 66px;
        transition: all 1s ease;
    }
}