.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    list-style-type: none;
    max-width: calc(100% - 148px * 2);
    margin: 92px auto 92px;
}

@media screen and (max-width: 1025px) {
    .places {
        max-width: calc(100% - 48px * 2);
        transition: all 1s ease;
    }
}

@media screen and (min-width: 1025px) {
    .places {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .places {
        max-width: calc(100% - 24px * 2);
        transition: all 1s ease;
    }
}

@media screen and (min-width: 769px) {
    .places {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 731px) {
    .places {
        min-width: 100%;
        margin: 64px auto 66px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 731px) {
    .places {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .places {
        min-width: 100%;
        margin: 64px auto 66px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 321px) {
    .places {
        transition: all 1s ease;
    }
}