/*.place__image {
    max-width: 460px;
    object-fit: cover;
    margin: 0;
}*/

/*Пробую в кросбраузерность*/

.place__image {
    max-width: 460px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .place__image {
        max-width: 440px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 731px) {
    .place__image {
        max-width: 100%;
    }
}

/*@media screen and (max-width: 321px) {
    .place__image {
        max-width: 100%;
    }
}*/