.lead {
    max-width: calc(100% - 148px * 2);
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1025px) {
    .lead {
        max-width: calc(100% - 48px * 2);
        transition: all 1s ease;
    }
}

@media screen and (min-width: 1025px) {
    .lead {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .lead {
        max-width: 100%;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 769px) {
    .lead {
        transition: all 1s ease;
    }
}