.cover__subtitle {
    z-index: 3;
    font-weight: 400;
    display: block;
    font-size: 18px;
    line-height: 22px;
    max-width: 369px;
    text-align: center;
    color: #FFF;
    margin: 0;
}

@media screen and (max-width: 731px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        margin: 0 0 auto;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 731px) {
    .cover__subtitle {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 321px) {
    .cover__subtitle {
        transition: all 1s ease;
    }
}