.cover__subtitle {
    z-index: 3;
    font-weight: 400;
    display: block;
    font-size: 18px;
    line-height: 22px;
    max-width: 369px;
    text-align: center;
    color: #FFF;
    margin: 0;
}