.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
    padding-top: 28px;
}

@media screen and (max-width: 769px) {
    .header {
        max-width: calc(100% - 24px * 2);
        transition: all 1s ease;
    }
}

@media screen and (min-width: 769px) {
    .header {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .header {
        max-width: calc(100% - 16px * 2);
        transition: all 1s ease;
    }
}

@media screen and (min-width: 321px) {
    .header {
        transition: all 1s ease;
    }
}