/*.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
    padding-top: 28px;
}*/

/*Пробую в кросбраузерность*/

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
    padding-top: 28px;
}

@media screen and (min-width: 1281px) {
    .header {
        max-width: 1184px;
    }
}

@media screen and (max-width: 769px) {
    .header {
        max-width: calc(100% - 24px * 2);
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .header {
        max-width: calc(100% - 16px * 2);
        padding-top: 16px;
    }
}