.place__paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 321px) {
    .place__paragraphs {
        width: calc(100% - 16px * 2);
        margin: auto;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 321px) {
    .place__paragraphs {
        transition: all 1s ease;
    }
}