.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin: auto 0;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 731px) {
    .footer__link {
        font-size: 20px;
        line-height: 20px;
        transition: all 1s ease;
    }

    .footer__link:last-of-type {
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        transition: all 1s ease;
    }

    .footer__link:last-of-type {
        transition: all 1s ease;
    }
}