.lead__title {
    font-weight: 900;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    margin: 56px auto 32px;
}

@media screen and (max-width: 1025px) {
    .lead__title {
        margin: 48px auto 32px;
        transition: all 1s ease;
    }
}

/*@media screen and (max-width: 769px) {
    .lead__title {
        font-size: 72px;
    }
}*/

@media screen and (max-width: 690px) {
    .lead__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 581px) {
    .lead__title {
        font-size: 54px;
        line-height: 44px;
    }
}

@media screen and (max-width: 421px) {
    .lead__title {
        font-size: 50px;
    }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
    .lead__title {
        font-size: 40px;
        margin: 48px auto 16px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        margin: 48px auto 16px;
    }
}