.lead__title {
    font-family: 'Inter';
    font-weight: 900;
    display: flex;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    margin: 54px auto 32px;
}