.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    width: 465px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 731px) {
    .footer__links {
        max-width: 100%;
        flex-direction: column;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .footer__links {
        max-width: 100%;
        flex-direction: column;
        transition: all 1s ease;
    }
}