/*.intro__text {
    font-weight: 400;
    display: flex;
    max-width: 690px;
    font-size: 16px;
    line-height: 26.8px;
    color: #FFF;
    margin: 0;
}*/

/*Пробую в кросбраузерность*/

.intro__text {
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 690px;
    font-size: 16px;
    line-height: 26.8px;
    color: #FFF;
    margin: 0;
}