.lead__subtitle {
    font-weight: normal;
    display: block;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 754px) {
    .lead__subtitle {
        font-size: 32.4px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 581px) {
    .lead__subtitle {
        font-size: 28.8px;
        line-height: 29.52px;
    }
}

@media screen and (max-width: 421px) {
    .lead__subtitle {
        font-size: 25.2px;
        line-height: 26.28px;
    }
}

@media screen and (max-width: 381px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}