.cover {
    position: relative;
    background: url(../../images/cover-trains.jpg);
    background-position: top center;
    background-size: cover;
    max-width: calc(100% - 48px * 2);
    min-height: 740px;
    margin: 0 auto 92px;
}

@media screen and (min-width: 1281px) {
    .cover {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px)  {
    .cover {
        max-width: 1184px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 1025px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 769px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 426px) {
    .cover {
        max-width: 100%;
        min-height: 200px;
        margin: 0 auto 64px;
    }
}