.cover__title {
    position: relative;
    z-index: 3;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    max-width: 560px;
    margin: 0 0 32px 0;
    text-align: center;
}