.cover__title {
    position: relative;
    z-index: 3;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    max-width: 560px;
    margin: 0 0 32px 0;
    text-align: center;
}

@media screen and (max-width: 426px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 255px;
        margin: 0 0 16px 0;
        transition: all 1s ease;
    }
}