/*.place {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 48px 40px;
    margin: 0 0 80px;
}*/

/*Пробую в кросбраузерность*/

.place {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 40px auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto 48px auto;
    grid-template-rows: auto auto;
    gap: 48px 40px;
    margin: 0 0 80px;
}.place > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.place > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.place > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.place > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.place:last-child {
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .place {
        gap: 48px 32px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 769px) {
    .place {
        gap: 48px 28px;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 731px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
        margin: 0 0 50px;
        width: 100%;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 32px;
        margin: 0 0 50px;
        width: 100%;
        transition: all 1s ease;
    }
}