.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 48px * 2);
    min-height: 18px;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 769px) {
    .footer {
        max-width: calc(100% - 24px * 2);
        transition: all 1s ease;
    }
}

@media screen and (max-width: 731px) {
    .footer {
        flex-direction: column;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .footer {
        max-width: calc(100% - 16px * 2);
        flex-direction: column;
        transition: all 1s ease;
    }
}