.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    min-height: 18px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
}