.header__lang-links {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: 28px;
    gap: 18px;
    margin: 18px 0 8px 0;
    padding: 0;
    list-style: none;
    text-rendering: optimizeLegibility; 
}