.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 731px) {
    .place__website {
        width: calc(100% - 16px * 2);
        margin: auto;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 321px) {
    .place__website {
        width: calc(100% - 16px * 2);
        margin: auto;
        transition: all 1s ease;
    }
}