@media screen and (max-width: 731px) {
    .footer__style {
        margin: 0 0 25px 0;
        transition: all 1s ease;
    }

    .footer__style:last-of-type {
        margin: 0;
    }
}

@media screen and (max-width: 321px) {
    .footer__style {
        margin: 0 0 32px 0;
    }
}